body {
  background-color: #DCDCDC;
}
.mainToolBar {
  background-color: #ffffff !important;
  color: #000000 !important;
  box-shadow: 0px 10px 0px #48B6D6 !important;
  
}
.leftText {
  color: #1e428a !important;
  margin: 0 10px;
}

.boxContainer{
  margin-top: 5rem !important;
}
.box-Container {
  margin-top: 5rem !important; 
}
.item{
  margin-top:100px
}